__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

*.pt
*.pth
*.ckpt

data/**/*.csv
data/**/*.dat
data/**/*.json
data/**/*.pkl
data/**/*.zip
data/**/*.no-ext
!data/**/README.md
!data/**/README

log/**/*.txt
log/**/*.csv

model/
report/
.ipynb_checkpoints/
*.ipynb

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
desktop.ini

.env
.venv
venv/
ENV/
env/

*.tmp
*.bak
*.cache

*.bat

help/
BSARec1.py
BSARec2.py
LaplaceRec.py
ZRec.py
log/LaplaceRec
log/ZRec
interaction_5core.csv